@font-face {
    font-family: "MilkShake";
    src: url("../fonts/Milkshake.ttf") format('truetype');
    src: url("../fonts/Milkshake.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "THIS";
    src : url("../fonts/This-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "AGENCY";
    src : url("../fonts/agency-fb_[allfont.net].ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "impact";
    src: url("../fonts/impact_[pl.allfont.net].ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
.jumbotron {
    background-image: url("../photos/tło1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-filter: grayscale(0%);
    background-size: cover;
    padding-bottom: 0px;
}
    .jumbotron img {
        opacity: 0.7;
      
        transition: all 0.3s ease;
        margin-bottom: 0;
    }
    .jumbotron img:hover {
        opacity: 1;
      
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@media (max-width: 767px) {
    .center{
        width: 100%;
    }
   
}


.push-to-bottom {
    position: relative;
    bottom: 0;

    
}
.jumbotron > container {
    position: absolute;
    border: none;
    background-color: green;
    
    
}
container2{

}
.container1 {
    width: 100%;
    background: rgba(139, 0, 0, 0.4);
    text-align: center;
    margin: 0;
   
    padding-bottom: 1%;
    padding-top: 1%;
  

 
    
}

    .container1 h1 {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        color: white;
        opacity: 1;
    }



.navbar-nav {
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.0);
    border: none;
    border-radius: 0px;
    margin: 0;
}
.navbar-default {
    border: none;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 0px;
    background-color: none;
}
.buttonclicked {
    background: rgba(139, 0, 0, 0.4);
   
}
.navbar-nav li {
    float: none;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-size: 30px;
    transition: all 0.3s ease;
}
@media (max-width: 767px) {
    .navbar-nav li {
        padding-left: 0;
        padding-right: 0;
        font-size: 20px;

    }
    .container1{
        margin-bottom: 10%;
    }
    
  
    }




.navbar-nav li:hover {
    background: rgba(139, 0, 0, 0.4);
    color: white;
}

.navbar-nav li:active {
    background: rgba(139, 0, 0, 0.4);
    color: white;
}

.navbar-nav li:focus {
    background: rgba(0, 0, 0, 0.4);
    color: white;
}



    .navbar-default .navbar-nav > li > a {
        color: white;
        font: "MilkShake";
    }

        .navbar-default .navbar-nav > li > a:hover {
            color: white;
        }
        .navbar-default .navbar-nav > li > a:active {
            color: white;
      
        }
        .navbar-default .navbar-nav > li > a:focus {
            color: white;
           
        }


footer {
    background-image: url("../photos/dobre.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 0.5%;
    margin-bottom: 0;
}

    footer > h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        padding-bottom: 2%;
        text-transform: uppercase;
        padding-top: 2%;
        background: rgba(139, 0, 0, 0.4);
        align-content: center;
        text-align: center;
        color: white;
        width: 28%;
        padding-left: 0;
        padding-right: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.3s ease;
        padding: 0;
       
    }
    footer > h3 {
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        text-align: center;
    }

            footer > h2 a {
                color: inherit;

            }
            footer > h2 a:hover{
                color: black;
            }

    footer > h2:hover {
        background: rgba(255, 255, 255, 0.4);
        color: white;
        transform: scale(1.1);
    }

    footer > h2 img {
        width: 10%;
        height: 100%;
        padding-bottom: 2%;
        -webkit-filter: invert(90%);
        max-height: 150px;
        max-width: 100px;
        padding-top: 2%;
        transition: all 0.3s ease;
    }

                footer > h2 img:hover {
                }

        footer > h1 img {
            width: 50%;
            opacity: 0.4;
        }

    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .row h1 {
        color: white;
        font: icon;
        text-transform: uppercase;
        font-size: 30px;
    }

        .row h1 img {
            width: 10%;
            height: 20%;
        }

    .container5 {
        width: 30%;
        position: absolute;
        display: inline-block;
    }

        .container5 img {
            width: 20%;
        }

    .container6 {
        width: 30%;
        list-style: none;
        display: inline-block;
    }

        .container6 h1 img {
            width: 10%;
            height: 20%;
        }

    .container7 {
        display: inline-block;
        width: 100%;
    }
   
.articlecontainer {
    width: 50%;
   
 
}

.articleimage {
    float: left;
    width: 40%;
  
    margin-right: 5%;
    
}
    .articleimage h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        background: rgba(139, 0, 0, 1);
        color: white;
        text-align: center;
        margin-top: 2%;
    }
.articleimage img{
    width: 100%;
    height: auto;
    max-height: 300px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0;
}
.articletext {
    float: none;
    background-color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: justify;
}
@media (max-width: 767px) {
    .articletext{
        font-size: 15px;
    }
    .articlecontainer{
        width: 80%;
    }
    .articleimage{
        width: 50%;
        margin-right: 2%;
    }
    .articleimage h1{
        font-size: 10px;
    }
    footer > h2{
        width: 100%;
        font-size: 20px;
    }


}
@media screen and (min-width: 3500px) {
    .articleimage img {
        max-height: 100px;
        max-width: 100px;
    }
    .articletext{
        font-size: 40px;
    }
    }

   
