
    <div class="articleimage">
        <img src="~/photos/oski2.jpg" />
        <h1>Foto: Oliwia Zarychta</h1>
    </div>
    <div class="articletext">
        Aktualnie pracuję nad wieloma projektami, które próbuje pogodzić
        czasowo z moją pracą jak i ze studiami. Jednym z moich ukończonych
        projektów jest właśnie strona na której jesteś. Strona została napisana
        w technologii asp.net mvc przy wykorzystaniu html, css, AJAX oraz JQuery do
        projektowania FRONT-END'u. Cały kod tej strony można znaleźć na moim github'ie, do czego
        bardzo zachęcam. Większość aplikacji nad którymi teraz pracuje skupia się wokół
        usprawniania i rozszerzania możliwości nauczania języków obcych. Aktualnie mój czas
        zajmuje projekt programu do aktywnej powtórki słówek oraz blog dla osób
        chcących dowiedzieć się więcej o Norwegii i języku norweskim. W przyszłości wspomniane
        projekty rozszerzą tę właśnie stronę. W związku z projektem programu do
        nauki słówek tworzę także własną bazę słów norweskich i ich tłumaczeń, która w przyszłości
        - mam nadzieję - stanie się jednym z najlepszych źródeł nauki języka norweskiego. Staram się aby rozwój moich umiejętności programistycznych i wiedzy w tym obszarze zawsze sprzyjał
        rozwojowi moich własnych zainteresowań, a także aby moje umiejętności mogły być pomocne teraz i
        w przyszłości dla innych. Jestem studentem informatyki
        na Politechnice Łódzkiej, dlatego też poświecam wiele czasu na realizację
        projektów zaliczeniowych. Na studiach głównie zajmuję się programowanie w języku java i c++. Większość moich
        prac można oczywiście obejrzeć na github'ie. Jednym z moich najlepszych programów, które napisałem w języku java,
        jest program dla nauczycieli do zarządzania zajęciami indywidualnymi oraz grupami. Projekt będę
        rozwijał, a w przyszłości planuję przepisać go w technologii .net jako projekt inżynierski. Aktualnie planuję
        także zaangażować się w projekt open-source pisany w języku c#, aby zdobyć więcej doświadczenia w zakresie
        programowania przy współpracy z innymi osobami. W swoim życiu szukam jak najwięcej okazji, które mogą mi pomóc
        w rozwoju moich umiejętności.
        </div>