
    <div class="articleimage">
        <img src="~/photos/oski3.jpg"/>
        <h1>Foto: Oskar Przybylski</h1>
    </div>
    <div class="articletext">
        Jak już wspomniałem, jedną z rzeczy, które kocham
        najbardziej w moim życiu, są rozmowy. W szczególności
        kocham rozmowy w obcych językach. Dużą część swojego
        życia spędziłem w Norwegii, gdzie rozwijałem swoje
        umiejętności komunikacyjne w językach skandynawskich.
        Do dnia dzisiejszego jest to jedna z moich pasji. Posługuję
        się płynnie językiem norweskim, a także znam języki duński
        i szwedzki na poziomie podstawowym. Obecnie pracuję jako
        lektor języka norweskiego, co było świetnym wyborem -
        uczę się jak mówić aby przekazywać wiedzę oraz przebywam
        wiele godzin w środowisku wielojęzycznym. To daje mi
        duże możliwości do dalszego rozwoju językowego, co
        staram się wykorzystywać jak mogę. Aktualnie próbuje
        rozwijać swoje umiejętności w języku hiszpańskim oraz
        francuskim, jeśli tylko znajdę na to chwilę. Warto wspomnieć
        także o języku angielskim, którego uczę się już długie
        lata - aktualnie posługuję się nim na poziomie B2( język
        z jedną z największych baz słownictwa przecież nie jest
        aż taki łatwy! Aktualnie aż około 500 tysięcy słów ).
        Praca pozwala mi także na rozwój w obszarze metodyki nauczania, którą
        odbieram nie tylko w kontekście przekazywania wiedzy, ale szczególnie
        w kontekście rozmów i podejścia do rozmówcy. Czy rozmowa to nie jest
        po prostu sztuka?
        Zamiłowanie do rozmów staram się uzupełniać podróżami. Staram się dowiedzieć
        więcej na temat funkcjonowania innych kultur i społeczeństw!
        W czasie swojego pobytu za granicą poznałem ludzi z wielu krajów między innymi: Kongo, Erytrea,
        Afganistan czy Turcja. Zawsze najciekawsze dla mnie są różnice kulturowe, które
        staram się zrozumieć.
        Poza tym interesuję się także sportem, a w szczególności narciarstwem biegowym. Kiedy potrzebuję
        odpoczynku, narty jeszcze nigdy mnie nie zawiodły.
       </div>