
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-image: url('../../photos/bridge-1246649_1280.jpg');">

    <a href="@Url.Action("Index","Blog")">
        <img src="~/photos/logoblog.png" class="center" />
        </a>


        <div class="container1 center">

            <h1>Velkommen til bloggen min!</h1>
        </div>





        <div class="container push-to-bottom" style=" background: rgba(255, 255, 255, 0.0); width: 100%; margin-top: 0; ">
            <nav class="navbar navbar-default push-to-bottom">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">

                        @Html.Partial("_LoginPartial")

                    </ul>
                </div>

            </nav>
        </div>
</div>

